body{
    background-color:#fcfcfc;
}

#linesvg1 {
    max-width: 100vh;
    min-height: 100%;
    margin-left: -1.5%;  
  }
  
#linesvg2 {  
    stroke: #1a1423;
    stroke-width: 0.4%;
    stroke-linecap: round;
    fill: #887880; 
  }


.display{
    width: 100%;
    height:100%;
    top:0%;
    left: 0%;
}

.divider{ 
  
  width: 20%;
  height: 88.24%;
  position: fixed;
  left: 50%;
  margin-left: -10%;
  top: 11.76%;
  
  
}

.loadbarright{
    transition: background-color 2s cubic-bezier(1, 1, 1, 1);
	transition-delay: 1s;
    background-color:#887880;
    left: 49.25%;
    top:11.76%;
    width:50.75%;
    position:fixed;
    height: 88.24%;
}
.loadbarleft{
    transition: background-color 2s cubic-bezier(1, 1, 1, 1);
	transition-delay: 1s;
    background-color:#887880;
    left: 0%;
    top:11.76%;
    width:50.75%;
    position:fixed;
    height: 88.24%;
}



.icon1{
    position: fixed;
    width: 35%;
    height: 35%;
    
    left: 28%;
    margin-left: -20.75%;
    top: 15%;
}
.icon2{
    position: fixed;
    width: 40%;
    height: 40%;
    
    left: 75%;
    margin-left: -18.75%;
    top: 15%;
}

.icon1:hover{
    opacity: .8;
    cursor: pointer;
}
.icon2:hover{
    opacity: .8;
    cursor: pointer;
}

.abouttext{
    position: fixed;
    color: #fcfcfc;
    font-family: 'Quicksand', sans-serif;
    text-align: center;
    color:#1a1423;
    position: fixed;
    font-size: 100%;
    top:73%;
    left: 50%;
    margin-left: -10%;
    height: 11.76%;
    width: 20%;
}
.aboutpage{
    background-color:#fcfcfc;
    left: 0%;
    width: 100%;
    top:14%;
    height: 88.24%;
    transition: background-color 2s cubic-bezier(1, 1, 1, 1);
    transition-delay: 1s;
    position: fixed;
    display: flex;
    align-content: flex-start;
    justify-content: center;
}

.aboutpic{
    position: fixed;
    top: 14%;
    left: 50%;
    margin-left: -10%;
    max-width: 20%;
    height: auto;
    
}

#analytical{

    position: fixed;
    display: flex;
    justify-content: center;
    background-color: #fcfcfc;
    left: 0%;
    top:11.76%;
    width:49.20%;
    position:fixed;
    height: 88.24%;
}
.antext{
    left: 40%;
    margin-left: -20.75%;
    top:49%;
    font-family: 'Roboto Slab', serif;
    position: fixed;
    font-size: 175%;
    height: 11.76%;
    width: 20%;
    color:#1a1423; 
}
#aesthetic{
    left: 49.20%;
    top:11.76%;
    width:50.75%;
    position:fixed;
    height: 88.24%;
    display: flex;
    justify-content: center;
    background-color:#fcfcfc;
    
}
.aestext{
    left: 75%;
    margin-left: -2.25%;
    font-family: 'Roboto', sans-serif;
    position: fixed;
    font-size: 175%;
    top:50%;
    height: 11.76%;
    width: 20%;
    color:#1a1423; 
}


.header{
    background-color: #1a1423;
    position:fixed;
    width: 100%;
    height: 11.76%;
    top: 0%;
    left:0%;
    
}

.nav{
    display:flex;
    justify-content: space-evenly;
    position: fixed;
    font-family: 'Quicksand', sans-serif;
    top:6%;
    height: 8%;
    width: 35%;
    color: #cdc5b4;

}


.hoverable:hover{
    opacity: .8;
    cursor: pointer; 
}

.about:hover{
    opacity: .8;
    cursor: pointer; 
}



.a{

    font-family: 'Quicksand', sans-serif;
    text-align: center;
    color: #fcfcfc;
    position: fixed;
    font-size: 175%;
    top:3%;
    left: 50%;
    margin-left: -10%;
    height: 11.76%;
    width: 20%;
}

.a:hover{
    opacity: .8;
    cursor: pointer;

}








